body {
    background-color: #228B22;
    color: #000000;
    margin-left: 5rem;
    margin-top: 5rem;
}
h2 {
    color: #191970;
}

.what-trans {
    background-color: #FFF8DC;
    color: #000
}
.transtype {
    background-color: darkolivegreen;
    color: white;
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
}
.items {
    justify-content: space-around;
}
